<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>All Users</h1>
    <a href="/create">Add New User</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        <% users.forEach(user=> { %>
            <tr>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.phone %>
                </td>
                <td>
                    <a href="/edit/<%= user.id %>">Edit</a>
                    <a href="/delete/<%= user.id %>">Delete</a>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>